
@import "resets.css";
@import "fonts.css";


:root{
    font-size: 18px;
    
    /*farbe*/
    --background: linear-gradient(#1D154B, black);
    --text-color: #FFEEDC;
    --accent: #756bab;
    --cardneg: linear-gradient(#BE352F, black);
    --cardpos: linear-gradient(#56969A, black);
    --menu-color: #0E0A24;

    /* schriften*/
    --f-titel: 'Benne';
    --f-text: 'Area';

    /*grössen*/
    --ga-large: 2.5rem;
    --ga-text: 1.3rem;
    --ga-medium: 1rem;
    --ga-small: 0.5rem;

}


    /*allgemein*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: var(--background);
    font-family: var(--f-text);
    margin: var(--ga-large);
    color: var(--text-color);
}

h1{
    font-family: var(--f-titel);
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger span {
    background-color: var(--text-color);
    width: 30px;
    height: 2px;
    color: var(--text-color);
}

button {
    background: none;
    border: none;
    color: var(--text-color);
    font-family: var(--f-text);
    cursor: pointer;
}
.menu-items {
    background-color: var(--menu-color);
    border-radius: 30px;
    border: 2px solid var(--text-color);
    display: flex;
    width: 4.1875rem;
    padding: 1.3125rem 0.8125rem;
    flex-direction: column;
    align-items: center;
    gap: 1.375rem;
    border-radius: 4.125rem;
}




/* ── Karten um drehen ── */

.FortunateFinalist {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    padding: 48px 24px 32px;
    gap: 28px;
}

.headline {
    text-align: center;
    font-family: var(--f-titel);
}


.finalist {
    aspect-ratio: 2 / 3.3;
    perspective: 1200px;  /* gibt Tiefe */  cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.card {
    height: 500px;
    position: relative;

    transform-style: preserve-3d;

    /* STARTET AUF DER RÜCKSEITE */
    transform: rotateY(180deg);

    transition: transform .75s cubic-bezier(.4,0,.2,1);
}

.card.flipped {
    transform: rotateY(0deg);
}

.face {
    position: absolute; inset: 0;
    backface-visibility: hidden;  /* Rückseite verstecken */
    border-radius: 18px;
    overflow: hidden;
}

.face-front img {
    width: 100%; height: 100%;
    object-fit: cover;
}

.face-back {
    width: 100%; height: 100%;
    object-fit: cover;
    transform: rotateY(180deg);  /* vorgedreht */
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hint {
    font-size: .78rem;
    letter-spacing: .15em;
}

/*Index*/
.unter-titel h1 {
    text-align: center;
    font-size: 4rem;       
}

.impressum1 {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    gap: var(--ga-large);
    font-family: var(--f-text);
    text-transform: lowercase;
    line-height: var(--ga-text);
}

.contactimpressum {       
    min-width: 35%;
}

.contactimpressum a{       
    color: var(--text-color);
    text-decoration: none;
    &:hover{
        color: var(--accent);
    }
}

.textimpressum {
    min-width: 65%;
    padding-bottom: var(--ga-large);
    text-transform: lowercase;
    line-height: var(--ga-text);
}    