
@import "resets.css";
@import "fonts.css";


:root{
    font-size: 18px;
    
    /*farbe*/
    --background: linear-gradient(#1D154B, black);
    --text-color: #FFEEDC;
    --primary: #628059;
    --secondary: #463631;
    --cardneg: linear-gradient(#BE352F, black);
    --cardpos: linear-gradient(#56969A, black);

    /* schriften*/
    --f-titel: 'Benne';
    --f-text: '';

    /*grössen*/
    --ga-large: 2.5rem;
    --ga-medium: 1rem;
    --ga-small: 0.5rem;

}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: var(--background);
    font-family: var(--f-text);
    margin: var(--ga-large);

}

h1{
    font-family: var(--f-titel);
    color: var(--text-color);
}

.hamburger span {
    width: 30px;
    height: 2px;
    color: var();
}

.menu{
    background-color: transparent;
}




/* ── Karten um drehen ── */

.FortunateFinalist {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    padding: 48px 24px 32px;
    gap: 28px;
}

.headline {
    text-align: center;
    font-family: var(--f-titel);
}


.finalist {
    aspect-ratio: 2 / 3.3;
    perspective: 1200px;  /* gibt Tiefe */  cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.card {
    height: 500px;
    position: relative;

    transform-style: preserve-3d;

    /* STARTET AUF DER RÜCKSEITE */
    transform: rotateY(180deg);

    transition: transform .75s cubic-bezier(.4,0,.2,1);
}

.card.flipped {
    transform: rotateY(0deg);
}

.face {
    position: absolute; inset: 0;
    backface-visibility: hidden;  /* Rückseite verstecken */
    border-radius: 18px;
    overflow: hidden;
}

.face-front img {
    width: 100%; height: 100%;
    object-fit: cover;
}

.face-back {
    width: 100%; height: 100%;
    object-fit: cover;
    transform: rotateY(180deg);  /* vorgedreht */
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hint {
    font-size: .78rem;
    letter-spacing: .15em;
    color: var(--text-color);
}

